fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-dotenv

pydantic
pydantic-settings
email-validator

httpx
requests

openai

scikit-learn
numpy
pandas

python-jose[cryptography]
passlib[bcrypt]
PyJWT