fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-dotenv

pydantic
pydantic-settings
email-validator

httpx
requests

openai

scikit-learn
numpy
pandas

python-jose[cryptography]
PyJWT
bcrypt==4.0.1
passlib[bcrypt]==1.7.4